.reveal .hspace {
    margin-left: 1em;
    margin-right: 1em;
}
.reveal .hspace-small {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.reveal .bg1 {
    background-color: magenta;
}
.reveal .bg2 {
    background-color: cyan;
}
.reveal .black {
    color: black;
}
.reveal .gray {
    color: lightslategray;
}
.reveal figure>figcaption {
    font-size: 0.5em;
    margin-bottom: 0.5em;
}
.reveal figure>img {
    margin-bottom: 0.125em;
}
.reveal .small {
    font-size: 0.75em;
}